#trailex.container{
	font-family: font-family: 'Oswald', sans-serif;
	font-weight: 300;
	max-width: 35%;
	position: fixed;
	right: 0;
	background-color: lightyellow;
	overflow: auto;
	z-index: 99999999999999;
}

#trailex h1{
	font-family: font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

#trailex.container.toggled{
	visibility: hidden;
}

#trailex .btn {
	font-family: font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

#trailex .btn-group{
}

#trailex .label{
	display: inline-block;
	margin: 2px;
}

#trailex .panel-heading {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

#trailex .holder.hidden{
	visibility: hidden;
}

#trailex .step-holder {
	z-index: 99;
}

#trailex #main{
	margin-bottom: 10px;
}

/*custom btstrp label colors*/

.label-one{
	background-color: #073D1B;
}

.label-two{
	background-color: #0E7C37;
}

.label-three{
	background-color: #14BC54;
}

.label-four{
	background-color: #19E265;
}

.label-five{
	background-color: #1BFC70;
}

.label-six{
	background-color: #1A3D27;
}

.label-seven{
	background-color: #357C4F;
}

.label-eight{
	background-color: #51BC78;
}

.label-nine{
	background-color: #61E290;
}

.label-ten{
	background-color: #6CFCA0;
}



