#trailex.container{
	font-family: font-family: 'Oswald', sans-serif;
	font-weight: 300;
	max-width: 35%;
	position: fixed;
	right: 0;
	background-color: lightyellow;
	overflow: auto;
	z-index: 99999999999999;
}

#trailex h1{
	font-family: font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

#trailex.container.toggled{
	visibility: hidden;
}

#trailex .btn {
	font-family: font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

#trailex .btn-group{
}

#trailex .label{
	display: inline-block;
	margin: 2px;
}

#trailex .panel-heading {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

#trailex .holder.hidden{
	visibility: hidden;
}

#trailex .step-holder {
	z-index: 99;
}

#trailex #main{
	margin-bottom: 10px;
}

.label-test{
	background-color: mediumspringgreen;
}

